NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_DATABASE=node-api

JWT_SECRET=your-secret-key-here

EMAIL_FROM=noreply@example.com
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-pass

CORS_ORIGIN=http://localhost:4200
